{% extends 'home/base.html' %}

{% block title %}Blog Home{% endblock %}
{% block blogactive %}active{% endblock %}

{% block body %}
<div class="container my-5">
    <h1 class="mb-4 text-center">Latest Blog Posts</h1>
    
    <div class="row">
        {% for post in allPosts %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100 shadow-sm">
                {% if post.image %}
                <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
                {% else %}
                {% endif %}
                
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">By {{ post.author }} | {{ post.timeStamp|date:"M d, Y" }}</h6>
                    <p class="card-text flex-grow-1">{{ post.content|truncatechars:150 }}</p>
                    <a href="{% url 'blogpost' post.slug %}" class="btn btn-primary mt-2 align-self-start">Read More</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center">No posts available at the moment. Check back later!</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
